/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the navigation */
nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
}

/* Add some styling to the section and h1 */
/* #main {
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    color: #333;
} */
